body {
  background: url(http://hydra-media.cursecdn.com/hearthstone.gamepedia.com/0/07/Battlefield_-_The_Hall_of_Explorers.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#world {
	top: 0;
	left: 0;
	width: 1000;
	height: 1000;
	pointer-events: none;
	z-index: 10;
}

#battlefield {
  position : absolute;
  top : 250;
  left : 200;
  width : 1000;
  height : 400;
}
#player-card-container {
  position:absolute;
  top : 800;
  left : 200;
}
#enemy-card-container {
  position:absolute;
  top : 10;
  left : 200;
}
