body {
  background: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/QNNXQ1X4NP1Z1425590205066.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#world {
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 10;
}

#battlefield {
  position : absolute;
  top : 0;
  left : 200;
}
#player-card-container {
  position:absolute;
  top : 800;
  left : 200;
}
#enemy-card-container {
  position:absolute;
  top : 10;
  left : 200;
}
