<html>
<body>
  <link rel="stylesheet" type="text/css" href="../public/style/card.css"></link>
  <link rel="stylesheet" type="text/css" href="../public/style/hearth.css"></link>

  <canvas id='world'></canvas>

  <div class='card-container' id='enemy-card-container'></div>
  <div class='card-container' id='player-card-containter'></div>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../public/card.js"></script>
  <script src="../public/hearth.js"></script>
</body>
</html>
