html
  head
    title Hearthstone
    body
      p#show_token token HERE
      form(method="post" action="/login")
        div
          label Id :
          input(type="text" name="user_id")
        div
          label Password :
          input(type="password" name="password")
        div
          input(type="submit")
    script(src="index.js")
    script.
      var token = "#{token}";
      if(token) {
        localStorage.setItem('hearth-server-token', JSON.stringify(token));
      } else {
        token = localStorage.getItem('hearth-server-token');
      }
