html
  head
    title Hearthstone
    body
      form(method="post" action="/login")
        div
          label Id :
          input(type="text" name="user_id")
        div
          label Password : 
          input(type="password" name="password")
        div
          input(type="submit")
