html
  head
    title Hearthstone
    body
      div
        a#headerLeft
        a#headerRight
      p Welcome to Fairstone

    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(src="index.js")
