html
  head
    title Welcome #{user_id}
    body
      p#user_info
       | Your brief info [
       span#user_id Your name goes here
       | ] MMR ::
       span#user_mmr Your mmr goes here
     a(href="/match") Match

    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(type="text/javascript" src="info.js")
