html
  head
    title Log in!
    body
      p Welcome
      div
        label Id :
        input#user-id(type="text" name="user_id")
      div
        label Password :
        input#password(type="password" name="password")
      div
        button#login-btn Login!

    script(src="http://code.jquery.com/jquery-latest.min.js")
    script(type="text/javascript" src="login.js")
