html
  head
    title Log in!
    body
      p Welcome
      div
        label Id :
        input#user-id(type="text" name="user_id")
      div
        label Password :
        input#password(type="password" name="password")
      div
        button#login-btn

    script(type="text/javascript" src="login.js")
