html
  head
    title Hearthstone
    body
      p.
        YOU are logged in as #{user_id}!

      button#begin_match MATCH
      p#match-found Not found
      canvas(id="hearth")

      script(src="http://code.jquery.com/jquery-latest.min.js")
      script(src="/socket.io/socket.io.js")

      script var user_id = "#{user_id}";
      script(src="/match.js")
