<html>

<head>
  <title> Hearthstone </title>

  <body>
    <p> YOU are logged in as #{user_id}! </p>
    <button id='begin_match'>MATCH</button>
    <p id='match-found'>Not found</p>
    <div id='my-deck-list'>Deck List
      <p class='deck'>Deck1</p>

      <div id='my-deck-card-info'>
        <p> card1 </p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/match.js"></script>
  </body>
</head>

</html>
