html
  head
    title Hearthstone
    body
      p.
        YOU are logged in as #{user_id}!

      button#begin_match MATCH
      p#match-found Not found
      div#my-deck-list Deck List
       p.deck Deck1

      div#my-deck-card-info
        p card1

      script(src="http://code.jquery.com/jquery-latest.min.js")
      script(src="/socket.io/socket.io.js")

      script(src="/match.js")
      script(src="/card.js")
      link(rel="stylesheet" type="text/css" href="style/card.css")

      div#card.card
      div#card.card(style="left:50px;right:50px;")
